html {
    height: 100%;
}

body {
    min-height: 100%;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 45px;
}

.row.content {
    display: flex;
    height: 100%;
}

.sidenav {
    max-height: 100%;
    height: inherit;
}

.homepage-content {
    height: calc(100vh - 45px);
}

@media screen and (max-width: 767px) {
    .sidenav {
        padding: 15px;
    }
}