<div class="col-sm-9">
    <h3>CET OR DOK</h3>
    <h3><small>HOME PAGE INSTRUCTIONS<br>Hello, this is my simple app for image recogntition based on simple machine learning.
            Try to see if it will guess your image.</small></h3>
    <div class="home-page-default-images">
        <img src="{{ static('./img/catter_no_like_banana.jpg')}}" alt="is a ket" height="auto" width="40%">
        <img src="{{ static('./img/retarded_doggo.jpg')}}" alt="is a dok" height="auto" width="40%">
    </div>
</div>